<div id="data"
  data-room-id="<%= @room.id %>"
  data-user-id="<%= current_user.id %>">
</div>

<div class="container">

  <div class="row my-5">
    <div class="col-7 mx-auto position-relative">
      <div class="position-absolute top-0 start-5 translate-middle">
        <h4 class="text-white bg-secondary py-1 px-4 rounded-pill">テーマ</h4>
      </div>
      <h1 class="text-center bg-light py-2"><%= @round.theme %></h1>
    </div>
  </div>

  <div class="row">
    <div class="col-7 mx-auto">
      <h1 class="text-center py-3">今回選ばれたのは！</h1>
      <div id="results">
        <%= render 'result', results: @results %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-5 mx-auto pt-3">
      <% if @round.join_rounds.first.user_id == current_user.id %>
        <%= link_to "TOPへ戻る", finish_room_path(@room), class: "btn btn-outline-dark btn-lg w-100" %>
      <% end %>
    </div>
  </div>

  <div id="players">
    <%= render 'players', players: @players %>
  </div>

</div>
