<div id="data"
  data-room-id="<%= @room.id %>"
  data-user-id="<%= current_user.id %>">
</div>

<div class="container">
  <div class="row mt-4">
    <div class="col-2 ms-auto">
      <%= link_to "TOPã¸æˆ»ã‚‹", rooms_path, class: "btn btn-outline-dark btn-sm"%>
    </div>
  </div>

  <div class="row text-center my-4">
    <h1><%= @room.name %></h1>
  </div>

  <div class="row my-4">
    <div class="col-10 mx-auto">
      <%= link_to "GAME START", room_path(@room), method: :post,
          class: "btn btn-secondary btn-lg w-100", id: "start-button", style: "display: none;" %>
    </div>
    <div class="col-9 mx-auto">
      <div id="members" class="my-4">
        <%= render "members", users: @room.users %>
      </div>
    </div>
  </div>

</div>